/* General */
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
a, a:hover
{
    text-decoration: none;
    color: #000;
}
li
{
    list-style-type: none;
    display: inline-block;
}
/* Header */
header h1
{
    font-family: 'Paytone One', serif;
    color: goldenrod;
    font-size: 45px;
    float: left;
    margin-top: 25px;
    background-image: url('https://pics.freeicons.io/uploads/icons/png/9456020201536062005-512.png');
}
header nav
{
    float: right;
    margin-top: 50px;
}

header
{
    height: 120px;
    margin:0 1rem;
    border: 0.1em solid black;
}
/* Menu */
.element_menu ul li
{
    margin-left: 10px;
}
.element_menu ul li a:hover
{
    text-decoration: underline;
}
/* Section recette */
#recette
{
    margin:0.2rem 1rem;
    border: 0.1em solid gold;
}
section article h3
{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
/* Footer */
footer
{
    margin:0 1rem;
    text-align: center;
    border: 0.1em solid greenyellow;
}

/* Contact */

label
{
    display: block;
    font-weight: bold;
}